#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

#root > div:nth-of-type(1) {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root > div:nth-of-type(2) {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  /* border: 5px solid gold; */
  width: 100%;
  height: 40%;
  display: flex;
  position: relative;
  background: linear-gradient(
    var(--angle),
    var(--start-color),
    var(--end-color)
  );
}

.left-nav,
.right-nav,
.hexagon-border {
  display: none !important;
}

ul li {
  list-style: none;
}

/* Burger visible only in small screens */
.burger-container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 10;
}

.burger-icon {
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

#side-drawer {
  height: 100dvh;
  width: 40dvw;
  background: var(--black);
  position: absolute;
  top: 0;
  left: -400px;
  z-index: 100;
}

#side-drawer.active {
  left: 0;
}

.brand-header {
  border-bottom: 1px solid
    linear-gradient(to right, var(--start-color), var(--end-color));
  height: 10%;
  font-family: "Anton", sans-serif;
  font-size: min(1rem, 1.2rem);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.brand-header > h1::after {
  content: "";
  width: 50%;
  height: 2px;
  background: linear-gradient(to right, var(--start-color), var(--end-color));
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.brand-header span {
  background: linear-gradient(to right, var(--start-color), var(--end-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#side-drawer > ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#side-drawer > ul > li {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#side-drawer > ul > li > a {
  width: 80%;
  height: 100%;
  display: block;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#side-drawer ul li a:hover {
  background: linear-gradient(to right, var(--start-color), var(--end-color));
}

/* Breakpoints */
@media (min-width: 600px) {
  /* Small tablets */

  .hexagon-border {
    width: 100px;
    height: 90px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    background: linear-gradient(
      var(--angle),
      var(--start-color),
      var(--end-color)
    );
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    box-sizing: border-box;
  }

  .hexagon-fill {
    width: 100%;
    height: 100%;
    background: black; /* This is key to "seeing" the border */
    clip-path: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hexagon-fill > img {
    width: 60px;
  }

  nav > div {
    display: flex;
    width: 50%;
  }

  nav ul {
    /* border: 2px solid gold; */
    width: 100%;
    font-size: 0.7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  nav > div:nth-of-type(1) > ul {
    margin-right: 30px;
  }

  nav > div:nth-of-type(3) > ul {
    margin-left: 40px;
  }

  .game-info {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .game-info:hover .options {
    display: flex;
  }

  .options {
    position: absolute;
    width: 100px;
    height: max-content;
    display: none;
    flex-direction: column;
    inset: 20px 0px 0px;
  }

  .options > button {
    cursor: pointer;
    height: 3rem;
    font-family: inherit;
    font-size: 1em;
    text-align: left;
    padding: 0 8%;
    border-style: none;
    background: var(--inactive);
  }

  .options > button:hover {
    background: var(--vivid-orange);
  }
}

@media (min-width: 768px) {
  /* Tablets (iPad Portrait) */
}

@media (min-width: 1024px) {
  /* Desktop (iPad Landscape / Laptops) */
}

@media (min-width: 1280px) {
  /* Large desktops */
}
