#root {
  height: 100dvh;
}

.main-container {
  /* border: 1px solid blue; */
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Navigation bar */

.main-container > div {
  border: 5px solid blue;
  width: 100%;
  height: 15%;
}

nav,
nav div ul {
  display: flex;
  justify-content: space-evenly;
}

nav {
  position: relative;
  height: clamp(3rem, 5dvw, 5rem);
  margin-top: min(2rem, 8%);
  overflow: visible;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
}

nav > div:nth-of-type(1),
nav > div:nth-of-type(3) {
  width: 50%;
}

nav > div:nth-of-type(1) ul {
  padding-right: 100px;
}

nav > div:nth-of-type(3) ul {
  padding-left: 100px;
}

li {
  list-style: none;
  font-weight: 200;
  font-size: large;
}

.brand {
  font-family: var(--title-font);
  font-size: large;
  display: flex;
  align-items: center;
}

.game-info {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  position: relative;
}

.game-info:hover .options {
  display: flex;
}

.options {
  position: absolute;
  min-width: max-content;
  height: max-content;
  display: none;
  flex-direction: column;
  inset: 20px 0px 0px;
}

.options > button {
  cursor: pointer;
  height: 3rem;
  font-family: inherit;
  text-align: left;
  padding: 0 8%;
  border-style: none;
  background: var(--inactive);
}

.options > button:hover {
  background: var(--vivid-orange);
}

.hexagon-border {
  width: 150px;
  height: 120px;
  position: absolute;
  background: linear-gradient(
    var(--angle),
    var(--start-color),
    var(--end-color)
  );
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  box-sizing: border-box;
}

.hexagon-fill {
  width: 100%;
  height: 100%;
  background: black; /* This is key to "seeing" the border */
  clip-path: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagon-fill > img {
  width: 100px;
}

/* Contents */

section {
  border: 5px solid blue;
  height: 80%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-evenly;
  justify-self: flex-end;
}

.title-container,
.bottom-panel {
  border: 1px solid red;
  margin: 0 5%;
  display: flex;
}

.title-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: var(--title-font);
  font-size: clamp(3rem, 12dvw, 15rem);
  text-align: center;
  line-height: 1.1;
}

h1 > span {
  font-size: inherit;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px white;
}

h4 {
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 12px;
  text-align: center;
}

/* Bottom panel */
.bottom-panel {
  border: 1px solid green;
  position: relative;
  align-items: center;
  height: 100%;
}

.bottom-panel > img {
  width: 700px;
  aspect-ratio: 1;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 50%;
  transform: translateX(-60%);
}

.bottom-panel > .vignette {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(0deg, var(--black), rgba(255, 255, 255, 0));
}

/* Main text contents container */
.bottom-panel > div:nth-of-type(2) {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 0 5%;
}

.bottom-panel > div:nth-of-type(2) > div {
  border: 1px solid blue;
  display: flex;
}

.copyright {
  font-size: 1.1rem;
  width: 35%;
  align-items: center;
}

.copyright > span {
  height: 1.3px;
  width: 100px;
  margin-left: 10px;
  background: linear-gradient(
    var(--angle),
    var(--start-color),
    var(--end-color)
  );
}
.CTA-button {
  width: 30%;
  justify-content: center;
  align-items: start;
}

.CTA-button > div {
  border: 5px solid green;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CTA-button > div > p {
  font-size: larger;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CTA-button > div > img {
  width: 70%;
}

.search-bar {
  width: 35%;
}
